$primary-color: #444;
$secondary-color: #eece1a;
$secondary-color-opacity: rgba(238, 206, 26, 0.85);
$white-color: #ffff;
$light-grey: rgba(196, 196, 196, 0.548);
$dark-black: rgba(41, 41, 41, 0.973);

$box-shadow-value: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

@mixin easeOut {
  transition: all 0.4s ease-out;
}

@mixin mediaTablet {
  @media screen and (min-width: 480px) and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLaptop {
  @media screen and (min-width: 769px) {
    @content;
  }
}
